*{
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  
}


.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  
}

.header{
  background-color: white;
  grid-row: 1/2;
  display: grid;
  padding: 20px;
  gap: 35px;
}



.user-info .profile{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.header .one {
  display: flex;
  justify-content: space-between;
}

.search{
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input{
  width: 500px;
  border-style: none;
  border-radius: 300px;
  padding: 3px 10px;
  background-color: #f0f2f4;
}

.search input:focus{
  outline:solid 2px #495057;
}

.search-button{
  width: 25px;
  height: 25px;
}

.user-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification{
  width: 25px;
  height: 25px;
  margin-right: 20px;
}



.header .two{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.welcome-message{
  display: flex;
  align-items: center;
  gap: 15px;

}

.welcome-message .profile{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.welcome-message .small-text{
  font-size: 12px;
}

.welcome-message .big-text{
  font-size: 18px;
}

.header .buttons{
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons button{
  padding: 5px 10px;
  width: 90px;
  border-radius: 45px;
  border-style: none;
  background-color: #e9ecef;
  cursor: pointer;
}




.sidebar{
  background-color: #212529;
  color: white;
  grid-column: 1/2;
  grid-row:1/6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 700;
}


.nav{
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.two img , .three img{
  height: 20px;
  width: 20px;
  
  
}

.one .nav{
  display: grid;
  gap: 15px;
}

.logo-icon{
  height: 40px;
  width: 40px;

  
}

.dashboard{
  font-size: 24px;
}


 .sidebar .two , .sidebar .three{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.main{
  background-color: #dee2e6;
  grid-row: 2/6;;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  gap: 30px;
  overflow: scroll;

}


h1{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;

}

h3{
  font-size: 14px;
  font-weight: 600;
}

.project-container img{
  height: 20px;
  width: 20px;
}


.project-container{
  grid-column: 1/4;
  grid-row: 1/3;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  
}

.project{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 133px;
  border-left-width: 5px;
  border-left-color: #343a40;
  border-left-style: solid;
  position: relative;
}



.projects p{
  font-size: 12px;
  height: 70px;
  overflow: auto;
}

.main .buttons{
  display: flex;
  gap: 15px;
  
  position: absolute;
  top: 75%;
  left: 73%;
  
}

.annoucement-container{
  grid-column: 4/6;
  grid-row: 1/2;
}

.annoucements{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.annoucements p{
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Number of lines to show */
  text-overflow: ellipsis;
  width: 200px;
}


.trending-container{
  grid-column: 4/6;
  grid-row: 2/3;
}

.trending{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.trending-container .profile{
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-pic{
  height: 40px;
  width: 40px;
  border-radius: 20px;

}

.profile-info{
  font-size: 12px;
}

.profile-info .project-name{
  color: grey;
}







