*{
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  
}

.header{
  background-color: blue;
  grid-row: 1/2;
}

.sidebar{
  background-color: #020617;
  color: white;
  grid-column: 1/2;
  grid-row:1/6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 700;
}


.nav{
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

img{
  height: 20px;
  width: 20px;
  
  
}

.one .nav{
  display: grid;
  gap: 15px;
}

.logo-icon{
  height: 40px;
  width: 40px;
  
}

.dashboard{
  font-size: 24px;
}


 .two , .three{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.main{
  background-color: red;
  grid-row: 2/6;;
}



.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  
}